@media(max-width:1400px){
  .content__center_h5{
    font-size: 20px;
  }
}
@media(max-width:1200px){
    .nav_content{
        width: 900px;
        margin: 0 auto;
    }
    .content__right_li{
        font-size: 12px;
        }  
        .blog{
            width: 1200px;
        }
        .box{
            width: 1200px;
        }
        .p__img{
            margin-left: -80px;

        }
        .main_content_blog{
            width: 900px;
            margin: 0 auto;
            gap: 10px;
            
        }
        .box__img_h2{
            font-size: 15px;
        }
        .box__img_p{
            font-size: 15px;
        }
        .blog_content{
            width: 1200px;
        }
        .main__content{
          width: 910px;
          margin:0 auto;
          display: flex;
          gap: 5px;
          }
          .group__content_right{
            flex-wrap: wrap;
            width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
          }
          .siroj{
            width: 1200px;
          }
          .siroj_content{
            width: 900px;
            margin:0 auto;
          }
          .content__center_h5{
            font-size: 20px;
          }
          .head{
            width: 1200px;
          }
          .footer__content_right{
            width: 900px;
            margin: 0 auto;
          }
          .bloog{
            width: 1200px;
          }
}
@media(max-width:900px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 20px;
        }  
      .nav__content_h1{
        font-size: 30px;
      }
      .p__img{
        margin-left: -80px;
        margin-top:50px;
    }
    .blog{
        width: 1200px;
      }
      .box{
        width: 1200px;
      }
      .main_content_blog{
        width: 820px;
        margin: 0 auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .box_img_br{
        margin-left: 250px;
        padding: 40px 0;
    }
    .box__img_h2{
        font-size: 15px;
    }
    .box__img_p{
        font-size: 15px;
    }


    .main__content{
      width: 900px;
      margin: 0 auto;
      gap: 30px;
      align-items: center;
    }
    .content__right_center_br{
      margin:  0 auto;
    }
    .group__content_right{
      flex-wrap: wrap;
      width: 820px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .siroj_content{
      width: 820px;
      margin:0 auto;
    }
    .content__center_h5{
      font-size: 20px;
    }
    .footer__content_right{
      width: 820px;
      margin: 0 auto;
    }
}
@media(max-width:820px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 20px;
        }  
      .nav__content_h1{
        font-size: 30px;
      }
      .box__left_p{
        font-size: 25px;
      }
      .main_content_blog{
        width: 760px;
        margin: 0 auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    .main__content_left{
        margin-left: 30px;
    }
    .box_img_br{
        margin-left: 220px;
        padding: 40px 0;
    }
    .box__img_h2{
        font-size: 15px;
    }
    .box__img_p{
        font-size: 15px;
    }
    .group__content_right{
      flex-wrap: wrap;
      width: 760px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .siroj_content{
      width: 760px;
      margin:0 auto;
    }
    .content__center_h5{
      font-size: 20px;
    }
    .footer__content_right{
      width: 760px;
      margin: 0 auto;
    }

}
@media(max-width:760px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 20px;
        }  
      .nav__content_h1{
        font-size: 40px;
      }
      .h1__img_p{
        font-size: 20px;
      }
}
@media(max-width:640px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 20px;
        }  
      .nav__content_h1{
        font-size: 40px;
      }
      .h1__img_p{
        font-size: 20px;
      }
      .box__img_h2{
        font-size: 15px;
    }
    .box__img_p{
        font-size: 15px;
    }
    .group__content_right{
      flex-wrap: wrap;
      width: 540px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .siroj_content{
      width: 540px;
      margin:0 auto;
    }
    .content__center_h5{
      font-size: 20px;
    }
}
@media(max-width:540px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 30px;
        }  
      .nav__content_h1{
        font-size: 40px;
      }
      .box__left_p{
        font-size: 30px;
      }
      .h1__img_p{
        font-size: 30px;
      }


      .main__content_left{
        margin-left: 130px;
    }
    .box_img_br{
        margin-left: 220px;
        padding: 40px 0;
    }
    .box__img_h2{
        font-size: 20px;
    }
    .box__img_p{
        font-size: 20px;
    }
    .group__content_right{
      flex-wrap: wrap;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .siroj__content_center{
      margin:0 auto;
      flex-wrap: wrap;
      display: flex;
    }
    .content__center_h5{
      font-size: 30px;
    }
    .content__center_img{
      width: 100px;
      height: 100px;
    }
    
}
@media(max-width:420px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 40px;
        }
      .content__right_li{
        font-size: 30px;
        }  
      .nav__content_h1{
        font-size: 40px;
      }
      .h1__img_p{
        font-size: 30px;
      }
      .p__img{
        margin-top: 60px;
      }
      .box__left_button{
        width: 260px;
        height: 80px;
        font-size: 30px;
      }
      .main_content_blog{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       margin-left: 80px;
    }
    .box_img_br{
        margin-left: -50px;
        padding: 40px 0;
    }
    .box__img_h2{
        font-size: 20px;
    }
    .box__img_p{
        font-size: 20px;
    }
    .main__content{
      width: 360px;
      margin: 0 auto;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-left: 360px;
    }
    .group__content_right{
      flex-wrap: wrap;
      width: 420px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .content__center_h5{
      font-size: 20px;
    }
    .footer__content_right{
      flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
      margin: 0 auto;
      gap:30px;
    }
    .footer__blog{
      align-items: center;
      display: flex;
      flex-direction: column;

    }
}
@media(max-width:360px){
    .nav_content{
        flex-direction: column;
        display: flex;
        gap: 30px;
        }
      .content__right_li{
        font-size: 30px;
        }  
      .nav__content_h1{
        font-size: 40px;
      }
      .p__img{
        margin-top:50px;
      }
      .h1__img_p{
        font-size: 30px;
      }
      .box__left_button{
        width: 260px;
        height: 80px;
        font-size: 30px;
      }
      .box__img_h2{
        font-size:20px;
    }
      .box__img_p{
        font-size:20px;
    }
    .main_content_blog{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
     }
     .box_img_br{
         margin-left: 0;
         padding: 40px 0;
}
   .group__content_right{
      flex-wrap: wrap;
      width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .group__right_left{
      margin: 0 auto;
    }
    .content__center_h5{
      font-size: 20px;
    }
}